<form nz-form [formGroup]="validateForm" class="reset-form" (ngSubmit)="resetPassword()">
  <nz-form-item>
    <label>New Password</label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="newPassword" placeholder="New Password">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('newPassword').dirty && validateForm.get('newPassword').errors">Please input your New Password!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="reset-form-button" [nzType]="'primary'">Reset Password</button>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
