<form nz-form [formGroup]="validateForm" class="register-password-form" (ngSubmit)="registerAccount()">
  <nz-form-item>
    <label>Your Password</label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="Your Password">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your Password!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="register-password-form-button" [nzType]="'primary'">Register Account</button>
      <a (click)="register_forward()">Back!</a>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
