<button nz-button [nzType]="'primary'" (click)="addCase()" style="margin-left: 20px">添加用例</button>
<nz-table #basicTable
          [nzData]="content"
          [nzFrontPagination]="false"
          [nzTotal]="total"
          [nzLoading]="loading"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>apiId</th>
    <th>JsonData</th>
    <th>ParamsData</th>
    <th>expResult</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of basicTable.data">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.apiId}}</td>
    <td style="word-break: break-all">{{item.jsonData}}</td>
    <td>{{item.paramsData}}</td>
    <td>{{item.expectResult}}</td>
    <td scope="col">
      <button nz-button [nzType]="'primary'" (click)="editCase(item.id)">编辑</button>
      <button nz-button [nzType]="'danger'" (click)="delete(item.id)">删除</button>
    </td>
  </tr>
  </tbody>
</nz-table>
