<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="login()">
  <nz-form-item>
    <label>Username</label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="username" placeholder="Username/Email">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors">Please input your Username or Email!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label>Password</label>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="Password">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your Password!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
      <a (click)="register_forward()">Register now!</a>
      <a style="float: right" (click)="forget_forward()">Forget Password!</a>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
