<button nz-button class="login-form-button" [nzType]="'primary'" (click)="addApi()" style="margin-left: 20px">添加接口</button>
<nz-table #basicTable
          [nzData]="content"
          [nzFrontPagination]="false"
          [nzTotal]="total"
          [nzLoading]="loading"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)">
  <thead>
  <tr>
    <th scope="col" [nzWidth]="'5%'">Id</th>
    <th scope="col" [nzWidth]="'10%'">Name</th>
    <th scope="col" [nzWidth]="'35%'">Url</th>
    <th scope="col">Method</th>
    <th scope="col" [nzWidth]="'15%'">CreateTime</th>
    <th scope="col" [nzWidth]="'15%'">UpdateTime</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of basicTable.data">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.url}}</td>
    <td>{{item.method}}</td>
    <td>{{item.createTime}}</td>
    <td>{{item.updateTime}}</td>
    <td scope="col">
      <button nz-button class="login-form-button" [nzType]="'primary'" (click)="editApi(item.id)">编辑</button>
      <button nz-button class="login-form-button" [nzType]="'danger'" (click)="delete(item.id)">删除</button>
    </td>
  </tr>
  </tbody>
</nz-table>
