<form [formGroup]="caseForm" (ngSubmit)="add()" autocomplete="off">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="name">用例名</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input type="text" nz-input formControlName="name" placeholder="name">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="name">Json Data</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <textarea formControlName="name" nz-input rows="4" placeholder="jsonData"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="paramsData">Params Data</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input type="text" nz-input formControlName="paramsData" placeholder="paramsData">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="expectResult">预期结果</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input type="text" nz-input formControlName="expectResult" placeholder="expectResult">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="available">是否可用</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <nz-switch formControlName="available"></nz-switch>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="mt-lg-5">
    <nz-form-control [nzOffset]="15" [nzSm]="8" [nzXs]="24">
      <button nz-button class="login-form-button" [nzType]="'primary'" style="margin-right: 10px">Save</button>
      <button type="button" nz-button class="login-form-button" [nzType]="'cancel'" (click)="closeModal()">Cancel</button>
    </nz-form-control>
  </nz-form-item>
</form>
