<nz-table #basicTable
          [nzData]="content"
          [nzFrontPagination]="false"
          [nzTotal]="total"
          [nzLoading]="loading"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)">
  <thead>
  <tr>
    <th>Id</th>
    <th>isSuccess</th>
    <th>CaseName</th>
    <th>ApiId</th>
    <th>Code</th>
    <th>ResponseBody</th>
    <th>ResponseHeader</th>
    <th>Message</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of basicTable.data">
    <td>{{item.id}}</td>
    <td><i class="iconfont" [ngClass]="{'icon-checked': item.checkBoolean==1, 'icon-error': item.checkBoolean==0, 'icon-colse': item.checkBoolean==-1}"></i></td>
    <td>{{item.caseName}}</td>
    <td>{{item.apiId}}</td>
    <td>{{item.code}}</td>
    <td>{{item.responseBody}}</td>
    <td>{{item.responseHeader}}</td>
    <td>{{item.errorMsg}}</td>
    <td>
      <button nz-button class="login-form-button" [nzType]="'danger'" (click)="delete(item.id)">删除</button>
    </td>
  </tr>
  </tbody>
</nz-table>
